.timer {
  background-color: rgb(39, 34, 34);
  padding: 100px;
  text-align: center;
  color: #daba81;
  max-width: 500px;
  margin: 10% auto;
  font-size: 40px;
}

#timer {
  max-width: 300px;
  margin: 30px auto;
  border: 4px solid brown;
  border-radius: 20px;
}